<%- include('partials/header') %>

<main class="organization-details">

    <a href="/organizations">← Back to Organizations</a>

    <h1><%= organization.name %></h1>

    <img
        class="organization-detail-logo"
        src="/images/<%= organization.logo_filename %>"
        alt="<%= organization.name %> logo"
    >

    <p><%= organization.description %></p>

    <p>
        <strong>Email:</strong>
        <%= organization.contact_email %>
    </p>

</main>

<%- include('partials/footer') %>